<template name="partymobile">
  {{ #with party }}
  <div class="mobile">
    <div class="container playlist">
      {{ > playlist playlistId=_id }}
      <div class="searchBtn js-showAddSong">
        <h3>Chercher une chanson <span class="ico"></span></h3>
      </div>
      <div class="addSong fullScreen">
        <span class="closeAddsong"></span>
        {{ > addsongform playlistId=_id }}
      </div>
    </div>
    <div class="container last participants">
      <h2>Qui est branché <span class="ico"></span></h2>
      <div class="me">
        {{ #if getUsername }}
      <div class="burbName">
      {{ #with getUsername}}
       {{ >burd }}
      {{ /with }}
  <button class="deco">Deconnexion</button>
      </div>
    {{ /if }}
      </div>
      {{ # each allBurds }}
        {{ > burd }}
      {{ /each }}
    </div>
  </div>
  {{ /with }}
</template>