<template name="partymobile">
  {{ #with party }}
  <div class="mobile">
    <div class="container playlist">
      {{ > playlist playlistId=_id }}
      <div class="searchBtn js-showAddSong">
        <h3>Ajouter une chanson <span class="ico"></span></h3>
      </div>
      <div class="addSong fullScreen">
        <span class="closeAddsong"></span>
        {{ > searchSong playlistId=_id }}
      </div>
    </div>
    <div class="container last participants">

      <h2>Qui est branché <span class="ico"></span></h2>
      <h3>Lien unique à partager 
          <span>{{ slug }}</span>
      </h3>
      <a class="fbShare" href="fb-messenger://share?link=http://whooo.ooo/party/{{ slug }}">Inviter des burbs !</a>
      <div class="me">
        {{ #if getUsername }}
      <div class="burbName">
      {{ #with getUsername}}
       {{ >burd }}
      {{ /with }}
      </div>
    {{ /if }}
      </div>
      {{ # each allBurds }}
        {{ > burd }}
      {{ /each }}
    </div>
  </div>
  {{ /with }}
</template>