.song{
  clear: both;
  overflow: hidden;
  position: relative;
  background: #fff;
}
.song p{
  display: inline-block;
  width: 70%;
  float: left;
  padding:10px;

}
.song .songImg{
  width:30%;
  height:100px;
  float: left;
  overflow: hidden;
}
.song img {
  height:100%;
}
.current .song{
  color:#fff;
  background: #46CE69;
}
.played .song{
  opacity: .5;
}

/* VOTES  SONGS */
.js-vote{
  display: inline-block;
  position: absolute;
  right:10px;
  bottom:10px;
  margin:0;
  padding:.5em;
  font-weight: bold;
  background-color: #0A68EF;
  border-radius: 300px;
  color:#fff;
}
.js-vote:hover{
  cursor: pointer;
}