<template name="party">
  {{ #with party }}
    <div class="container side playlist">
      {{ > playlist playlistId=_id }}
      <div class="addSong">
        {{ > addSong playlistId=_id }}
      </div>
    </div>
    <div class="container center player">
      {{ > youtubeplayer playlistId=_id }}
    </div>
    <div class="container side last participants">
      <div class="share-link">
        <p>Lien unique a partager</p>
        <input onClick="this.select();" readonly type="text" value="{{ slug }}">
      </div>
      <h2>Qui est branché</h2>
      {{ # each allBurds }}
        {{ > burd }}
      {{ /each }}
      <p class="nbBurbs">Il y a {{ nbBurds }} participant{{ #if burdsPlural }}s{{ /if }}</p>
    </div>
  {{ /with }}
</template>
