.container{
  float: left;
  position: absolute;
  top:15vh;
  bottom: 0;
  overflow: auto;
  padding: 0;
}
.container.center{
  width:50%;
  left:25%;
  padding-top: 7%;
  overflow: hidden;
}
.container.side{
  width:25%;
}
.container.side.last{
  left:75%;
}

.playlist{
  background: #fff;
  padding-top: 100px;
}

.addSong{
  position: fixed;
  top: 15vh;
  background: #46CE69;
  left:0;
  right:75%;
  height:100px;
}

.share-link{
  position: relative;
  bottom:1em;
  text-align: center;
  margin-bottom:1em;
  padding:1em;
  background-color: #46CE69;
}
.share-link p{
  color:#fff;
  margin-bottom: 5px
}
.share-link p:before{
  content:url(/images/share.svg);
  display: inline-block;
  width: 20px;
  height:20px;
  position: relative;
  right:7px;
  top:5px;
}
.share-link input{
  color:#1E3659;
  font-size:1.2em;
  border-radius: 1.2em;
  border:none;
  padding:.2em .7em .2em .7em;
}

.participants{
  background-color: #0A68EF;
  padding-top: 1em;
}
.participants h2{
  color: #fff;
}
.participants .burd{
  clear: both;
  overflow: hidden;
}
.participants .burd img{
  float: left;
  margin-left: 5%;
}
.participants .burd p{
  color:#fff;
  display: inline-block;
  width:calc(90% - 60px);
  float: right;
  font-size: 1.5em;
  line-height: 60px;
}
.nbBurbs{
  color:#fff;
  display:inline-block;
  width: 90%;
  margin:10px 5%;
  text-align: center;
  padding:1em;
  background: rgba(255,255,255,.1);
  border-radius: 100px;
}
@media screen and (max-width: 700px){
  .container{
    top:5vh;
  }
}

