<template name="party">
  <div class="container side playlist">
    {{ > playlist playlistId=getPlaylistId }}
    <div class="addSong">
      {{ > addsongform playlistId=getPlaylistId }}
    </div>
  </div>
  {{ #if started }}
  <div class="container center player">
    {{ > youtubeplayer playlistId=getPlaylistId }}
  </div>
  {{ else }}
    <h1>PAS ENCORE COMMENCE</h1>
  {{ /if }}
  <div class="container side last participants">
    <h2>Qui est branché</h2>
    {{ # each burds }}
      {{ > burd }}
    {{ /each }}
  </div>  
</template>