h1.partyHead{
	display: inline-block;
	text-indent: -99999px;
	background: url(images/logo.svg) no-repeat center #fff;
	width:100%;
	height:15vh;
	border-bottom: 4px #46CE69 solid;
}
.leaf1{
	position: absolute;
	width: 30%;
	max-width:500px;
	left:50%;
	top:8%;
	transform: translate(-50%);
	z-index: -9;
}
.burbName{
	position: absolute;
	top:30px;
	left:30px;
	display: inline-block;
	background: #0A68EF;
	border-radius: 80px;
	width:auto;
	min-width: 170px;
}
.burbName p{
	float: left;
	font-size: 20px;
	color:#fff;
	line-height: 80px;
	margin:0;
	padding:0 1em 0 .5em;
}
.burbName img{
	float: left;
	margin-top:10px;
	margin-left:10px;
}
.deco{
	background: transparent;
	border-radius: 0;
	border:none;
	color:#fff;
	opacity: .7;
	position: absolute;
	bottom: 10px;
	left: 70px;
}