<template name="header">
<div class="header">
  <h1 class="partyHead">WHOOO.OOO</h1>
  {{ #unless isMobile }}
    <div class="leaf1">
      <img src="/images/leaf1.svg">
    </div>
    {{ #if getUser }}
      <div class="burbName">
      {{ #with getUser}}
       {{ >burd }}
      {{ /with }}
      <button class="deco">Deconnexion</button>
      </div>
    {{ /if }}
  {{ /unless }}
  {{ #if isMobile}}
    {{ #if getUser }}
      <button class="decoMobile deco"></button>
    {{ /if }}
  {{ /if }}
</div>
</template>
