<template name="youtubeplayer">
  <div class="player">
    <div id="video-hide"></div>
    <div class="video-background">
        <div class="video-foreground">
            <div id="video-placeholder"></div>
        </div>
    </div>
    {{ #if preparing }}
      <div class="waitStart">
        <h2>{{ getName }}</h2>
        <p> par {{ getCreator }}</p>
        <div class="burbDanse">
          <video loop autoplay="true" poster="/images/logo.svg" src="/videos/burb.mp4">
          </video>
        </div>
        <button class="start btn blue">ON EST READY !</button>
      </div>
    {{ /if }}
    <div class="player-controls">
        <h2>{{ getName }}</h2>
        <p> par {{ getCreator }}</p>

        <div class="controls">
            {{ #if isOwner }}
                <button class="previousSong">Precedente</button>
                <button id="play">play</button>
                <button id="pause">pause</button>
                <button class="nextSong">Suivante</button>
            {{ /if }}
            <div class="container-volume">
                <i id="mute-toggle"></i>
                <input id="volume-input" type="range" name="" max="100" min="0">
            </div>
            <div class="container-progress">
                <p><span id="current-time">0:00</span> / <span id="duration">0:00</span></p>
                <input type="range" id="progress-bar" value="0">
            </div>
        </div>
    </div>
    <p>{{ remaining }}</p>
    <p>Il y a {{ nbBurds }} participants</p>
    <script src="https://www.youtube.com/iframe_api"></script>
  </div>
</template>