<template name="homepage">
  <div style="overflow: hidden" class="container centered">
    {{ # if isMobile }}
    <p class="descIntro"><img src="/images/burb_ico.svg"></p>
    {{ / if }}
      <video style="margin-left: -50px;" width="710" height="400" autoplay loop>
        <source src="videos/burb.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video> 
    <h2>Ton p'tit nom d'oiseau</h2>
    <form>
      <fieldset class="form-fieldset ui-input __first">
        <input type="text" id="username" tabindex="0" />
        <label for="username">
          <span data-text="Cuicui">Cuicui</span>
        </label>
      </fieldset>

      <div class="form-footer">
        <input type="submit" class="btn" value="GO !" />
      </div>
    </form>
  </div>
</template>
