<template name="homepage">
	{{ #unless seenModal }}
	<div class="dimmer"></div>
	<div class="popup">
		<div class="burbDanse">
			<video loop autoplay="true" poster="/images/logo.svg" src="/videos/burb.mp4">
				
			</video>
		</div>
		<p>
			WHOOOOOO est une plateforme de playlist collaborative. Vous pouvez très facilement créer une party, y inviter vos amis et lire la musique que vous aurez choisis tous ensemble. <br>
			Grâce à l'application (ou le site mobile), vous pouvez ajouter des morceaux à votre playlist même lors d'une soirée !
		</p>
		<button class="btn blue">Let's dance !</button>
	</div>
  {{ /unless }}
		<div class="container centered">
		  <h2>Ton p'tit nom d'oiseau</h2>
		  <form>
		    <fieldset class="form-fieldset ui-input __first">
		      <input type="text" id="username" tabindex="0" />
		      <label for="username">
		        <span data-text="Cuicui">Cuicui</span>
		      </label>
		    </fieldset>

		    <div class="form-footer">
		      <input type="submit" class="btn" value="GO !" />
		    </div>
		  </form>
	  </div>
</template>
